@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* ------------- Dropdown Component -------------  */
    .dropdown-toggle {
      @apply  px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight w-48
      uppercase rounded shadow-md flex items-center whitespace-nowrap
       hover:bg-blue-700 hover:shadow-lg
       focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
       active:bg-blue-800 active:shadow-lg active:text-white
      transition first-letter:duration-150 ease-in-out;
    }
    .dropdown-menu{
        @apply block   min-w-max absolute  bg-white
        text-base z-50 float-left py-2 list-none text-left rounded-lg
        shadow-lg mt-1  m-0 bg-clip-padding border-none
    }
    .dropdown-item{
        @apply text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-100
    }
    
  }